<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<meta charset="utf-8" />
	<title>Test</title>
	<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
	<script>
		document.write('<base href="' + document.location + '" />');
  </script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="assets/css/material-design-iconic-font.min.css" />
	<link rel="stylesheet" href="assets/css/app.css" />
	<link rel="stylesheet" href="assets/css/theme.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
	<script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.9/angular.js" data-semver="1.4.9"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
</head>

<body ng-controller="myCtrl">
	<div class="be-wrapper">
		<nav class="navbar navbar-alt navbar-expand fixed-top be-top-header">
			<div class="container-fluid">
				<div class="navbar__aside">
					<button class="btn btn-lg btn-primary btn-block btn-cicle"><i class="icon mdi mdi-plus"></i></button>
				</div><!-- /.navbar__aside -->

				<div class="page-title">
					<h1>Project Access</h1>
				</div>
				<div class="form-group form-group-alt form-group-alt--search form-group-alt--search-simple">
					<input ng-model="searchText" class="form-control form-control-alt" id="contact-search" type="text" placeholder="Type to filter the table">
					<button><span class="icon"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M19 19L14.65 14.65M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></span></button>
				</div>
			</div>
		</nav>

		<div class="be-content be-content-alt">
			<div class="main-content main-content-data container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-table">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-striped table-hover table-users">
										<thead>
											<tr>
												<th><span ng-click="changeSorting('name')">USER</span></th>
												<th><span ng-click="changeSorting('role')">ROLE</span></th>
												<th><span ng-click="changeSorting('isActive')">STATUS</span></th>
												<th>ACTIONS</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="user in users | filter:searchText | orderBy:sort.column:sort.descending track by user.name" ng-hide="rowRemove">
												<td class="user-avatar cell-detail user-info"><img src="assets/img/avatar.png" alt="Avatar"><span>{{user.name}}</span><span class="cell-detail-description">Developer</span></td>
												<td class="cell-detail">{{user.role}}</td>
												<td class="cell-detail">
													<div class="switch-button switch-button-lg switch-button-lg-alt switch-button-lg-alt--dual">
														<input type="checkbox" ng-model="user.isActive" id="user-status-{{$index + 1}}"><span><label for="user-status-{{$index + 1}}"></label></span>
													</div>
												</td>
												<td class="cell-detail">
													<div class="table-actions">
														<a href="#" class="table-edit"><span class="icon mdi mdi-settings"></span></a>

														<label class="table-delete">
															<span class="icon mdi mdi-delete"></span>
															<input type="checkbox" ng-model="rowRemove">
														</label>
													</div><!-- /.table-actions -->
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="table-navigation">
									<div class="table__control">
										<span>Records on page</span>

										<select class="form-control">
											<option value="1" selected="">5</option>
											<option value="2">10</option>
											<option value="3">15</option>
											<option value="4">20</option>
											<option value="5">25</option>
										</select>
									</div><!-- /.table__control -->

									<div class="table__control table__control--pagination">
										<ul class="pagination">
											<li class="page-item"><a class="page-link" href="#" aria-label="Previous">Previous</a></li>
											<li class="page-item active"><a class="page-link" href="#">1</a></li>
											<li class="page-item"><a class="page-link" href="#">2</a></li>
											<li class="page-item"><a class="page-link" href="#" aria-label="Next">Next</a></li>
										</ul>
									</div><!-- /.table__control -->
								</div>
							</div><!-- /.card-body -->
						</div>
					</div>
				</div>

			</div>
		</div>
		<nav class="be-right-sidebar">
			<div class="sb-content">
				<div class="tab-navigation">
					<ul class="nav nav-tabs nav-justified" role="tablist">
						<li class="nav-item" role="presentation"><a class="nav-link active" href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Chat</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link" href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Todo</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link" href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Settings</a></li>
					</ul>
				</div>
				<div class="tab-panel">
					<div class="tab-content">
						<div class="tab-pane tab-chat active" id="tab1" role="tabpanel">
							<div class="chat-contacts">
								<div class="chat-sections">
									<div class="be-scroller-chat">
										<div class="content">
											<h2>Recent</h2>
											<div class="contact-list contact-list-recent">
												<div class="user"><a href="#"><img src="assets/img/avatar1.png" alt="Avatar">
														<div class="user-data"><span class="status away"></span><span class="name">Claire Sassu</span><span class="message">Can you share the...</span></div>
													</a></div>
												<div class="user"><a href="#"><img src="assets/img/avatar2.png" alt="Avatar">
														<div class="user-data"><span class="status"></span><span class="name">Maggie jackson</span><span class="message">I confirmed the info.</span></div>
													</a></div>
												<div class="user"><a href="#"><img src="assets/img/avatar3.png" alt="Avatar">
														<div class="user-data"><span class="status offline"></span><span class="name">Joel King </span><span class="message">Ready for the meeti...</span></div>
													</a></div>
											</div>
											<h2>Contacts</h2>
											<div class="contact-list">
												<div class="user"><a href="#"><img src="assets/img/avatar4.png" alt="Avatar">
														<div class="user-data2"><span class="status"></span><span class="name">Mike Bolthort</span></div>
													</a></div>
												<div class="user"><a href="#"><img src="assets/img/avatar5.png" alt="Avatar">
														<div class="user-data2"><span class="status"></span><span class="name">Maggie jackson</span></div>
													</a></div>
												<div class="user"><a href="#"><img src="assets/img/avatar6.png" alt="Avatar">
														<div class="user-data2"><span class="status offline"></span><span class="name">Jhon Voltemar</span></div>
													</a></div>
											</div>
										</div>
									</div>
								</div>
								<div class="bottom-input">
									<input type="text" placeholder="Search..." name="q"><span class="mdi mdi-search"></span>
								</div>
							</div>
							<div class="chat-window">
								<div class="title">
									<div class="user"><img src="assets/img/avatar2.png" alt="Avatar">
										<h2>Maggie jackson</h2><span>Active 1h ago</span>
									</div><span class="icon return mdi mdi-chevron-left"></span>
								</div>
								<div class="chat-messages">
									<div class="be-scroller-messages">
										<div class="content">
											<ul>
												<li class="friend">
													<div class="msg">Hello</div>
												</li>
												<li class="self">
													<div class="msg">Hi, how are you?</div>
												</li>
												<li class="friend">
													<div class="msg">Good, I'll need support with my pc</div>
												</li>
												<li class="self">
													<div class="msg">Sure, just tell me what is going on with your computer?</div>
												</li>
												<li class="friend">
													<div class="msg">I don't know it just turns off suddenly</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="chat-input">
									<div class="input-wrapper"><span class="photo mdi mdi-camera"></span>
										<input type="text" placeholder="Message..." name="q" autocomplete="off"><span class="send-msg mdi mdi-mail-send"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane tab-todo" id="tab2" role="tabpanel">
							<div class="todo-container">
								<div class="todo-wrapper">
									<div class="be-scroller-todo">
										<div class="todo-content"><span class="category-title">Today</span>
											<ul class="todo-list">
												<li>
													<div class="custom-checkbox custom-control custom-control-sm"><span class="delete mdi mdi-delete"></span>
														<input class="custom-control-input" type="checkbox" checked="" id="tck1">
														<label class="custom-control-label" for="tck1">Initialize the project</label>
													</div>
												</li>
												<li>
													<div class="custom-checkbox custom-control custom-control-sm"><span class="delete mdi mdi-delete"></span>
														<input class="custom-control-input" type="checkbox" id="tck2">
														<label class="custom-control-label" for="tck2">Create the main structure </label>
													</div>
												</li>
												<li>
													<div class="custom-checkbox custom-control custom-control-sm"><span class="delete mdi mdi-delete"></span>
														<input class="custom-control-input" type="checkbox" id="tck3">
														<label class="custom-control-label" for="tck3">Updates changes to GitHub </label>
													</div>
												</li>
											</ul><span class="category-title">Tomorrow</span>
											<ul class="todo-list">
												<li>
													<div class="custom-checkbox custom-control custom-control-sm"><span class="delete mdi mdi-delete"></span>
														<input class="custom-control-input" type="checkbox" id="tck4">
														<label class="custom-control-label" for="tck4">Initialize the project </label>
													</div>
												</li>
												<li>
													<div class="custom-checkbox custom-control custom-control-sm"><span class="delete mdi mdi-delete"></span>
														<input class="custom-control-input" type="checkbox" id="tck5">
														<label class="custom-control-label" for="tck5">Create the main structure </label>
													</div>
												</li>
												<li>
													<div class="custom-checkbox custom-control custom-control-sm"><span class="delete mdi mdi-delete"></span>
														<input class="custom-control-input" type="checkbox" id="tck6">
														<label class="custom-control-label" for="tck6">Updates changes to GitHub </label>
													</div>
												</li>
												<li>
													<div class="custom-checkbox custom-control custom-control-sm"><span class="delete mdi mdi-delete"></span>
														<input class="custom-control-input" type="checkbox" id="tck7">
														<label class="custom-control-label" for="tck7" title="This task is too long to be displayed in a normal space!">This task is too long to be displayed in a normal space! </label>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="bottom-input">
									<input type="text" placeholder="Create new task..." name="q"><span class="mdi mdi-plus"></span>
								</div>
							</div>
						</div>
						<div class="tab-pane tab-settings" id="tab3" role="tabpanel">
							<div class="settings-wrapper">
								<div class="be-scroller-settings"><span class="category-title">General</span>
									<ul class="settings-list">
										<li>
											<div class="switch-button switch-button-sm">
												<input type="checkbox" checked="" name="st1" id="st1"><span>
													<label for="st1"></label></span>
											</div><span class="name">Available</span>
										</li>
										<li>
											<div class="switch-button switch-button-sm">
												<input type="checkbox" checked="" name="st2" id="st2"><span>
													<label for="st2"></label></span>
											</div><span class="name">Enable notifications</span>
										</li>
										<li>
											<div class="switch-button switch-button-sm">
												<input type="checkbox" checked="" name="st3" id="st3"><span>
													<label for="st3"></label></span>
											</div><span class="name">Login with Facebook</span>
										</li>
									</ul><span class="category-title">Notifications</span>
									<ul class="settings-list">
										<li>
											<div class="switch-button switch-button-sm">
												<input type="checkbox" name="st4" id="st4"><span>
													<label for="st4"></label></span>
											</div><span class="name">Email notifications</span>
										</li>
										<li>
											<div class="switch-button switch-button-sm">
												<input type="checkbox" checked="" name="st5" id="st5"><span>
													<label for="st5"></label></span>
											</div><span class="name">Project updates</span>
										</li>
										<li>
											<div class="switch-button switch-button-sm">
												<input type="checkbox" checked="" name="st6" id="st6"><span>
													<label for="st6"></label></span>
											</div><span class="name">New comments</span>
										</li>
										<li>
											<div class="switch-button switch-button-sm">
												<input type="checkbox" name="st7" id="st7"><span>
													<label for="st7"></label></span>
											</div><span class="name">Chat messages</span>
										</li>
									</ul><span class="category-title">Workflow</span>
									<ul class="settings-list">
										<li>
											<div class="switch-button switch-button-sm">
												<input type="checkbox" name="st8" id="st8"><span>
													<label for="st8"></label></span>
											</div><span class="name">Deploy on commit</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>

</body>

</html>
